<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Demo</title>
    <script src="../libs/angularjs/angular.min.js"></script>
    <script src="../libs/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" ng-controller="myController">
        <div class="page-header">
            <h3>指令 - 作用域（独立作用域）</h3>
        </div>
      
        <!--
            指令可定义自己的作用域，并且映射到外层Controller的作用域上。

            关于映射：
            1.指令模板中，使用{{}}将视图元素绑定到指令的作用域
            2.指令作用域中的成员变量，根据=后台的值，绑定到HTML中同名属性的值
            3.HTML中属性的值则关联到controller的作用域中的数据

            只有通过映射，才可访问controller内的数据，如下所示，指令内无法访问到vojta对象

            
        -->
        <div class="">
            <labe class="control-label">修改naomi.name</labe>
            <input type="text" class="form-control" ng-model="naomi.name">
            <my-hello id='hello1' info='naomi'></my-hello>
        </div>
        <br />
        <div class="">
            <labe class="control-label">修改igor.name</labe>
            <input type="text" class="form-control" ng-model="igor.name">
            <my-hello id='hello2'  info='igor'></my-hello>
        </div>
    </div>
</body>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $filter) {
        $scope.naomi = { name: 'Naomi', address: '1600 Amphitheatre' };
        $scope.igor = { name: 'Igor', address: '123 Somewhere' };

        $scope.vojta = { name: 'Igor', address: '123 Somewhere' };
    });

    app.directive('myHello', function($http){
        return {
            restrict: 'EA',
            scope: {
                //=表示又向绑定，即外层的model改变了影响指令内的数据，指令内的数据改变了也将影响外层的数据模型
                customerInfo: '=info'
            },
            template: '指令内的值： <input type="text" class="form-control" ng-model="customerInfo.name">',
        };
    });
</script>

</html>