<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Demo</title>
    <script src="../libs/angularjs/angular.min.js"></script>
    <script src="../libs/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- 
        ui-router需要额外引入的包
        需要先引入angular.min.js
    -->
    <script src="../libs/angularjs/angular-ui-router.min.js"></script>
</head>

<body>
    <div class="container" ng-controller="myController">
        <div class="page-header">
            <h3>UI-Router</h3>
        </div>

        <!--
           
        -->
        <button class="btn btn-default" ng-click="toForm()">Form</button>
        <button class="btn btn-primary" ng-click="toTable()">Table</button>
        <div ui-view></div>
        
        <!-- <div ui-view></div> -->
        <!-- 
            当切换到某状态时（比如：form），将显示两个form.html
            即：会将两个ui-view都替换掉！ 
        -->
    </div>
</body>

<script>
        var app = angular.module('myApp', ['ui.router']);

        app.config(['$stateProvider', '$urlRouterProvider', function($stateProvider, $urlRouterProvider){
            $urlRouterProvider.otherwise('/');//建立一个默认路由，用于管理未知的URL，统一跳转到'/'

            $stateProvider
                .state('form', {
                    url: '/form',
                    templateUrl: 'template/form.html'
                })
                .state('table', {
                    url: '/table',
                    templateUrl: 'template/table.html'
                })
                .state('/', {
                    template: '<h2>Hello World</h2>'
                })
        }]);

        app.controller('myController', function ($scope, $state) {

            $scope.toForm= function(){
                $state.go('form');
            }

            $scope.toTable= function(){
                $state.go('table');
            }
        });
</script>

</html>