<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Demo</title>
    <script src="../libs/angularjs/angular.min.js"></script>
    <script src="../libs/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" ng-controller="myController">
        <div class="page-header">
            <h3>scope事件 - 入门</h3>
        </div>

        <!-- 
        事件
            如前所述，多级$scope对象根据DOM的结构组织成树结构
            可在树结构中上下发送事件，
            $scope.$emit函数将消息向上发送，直到$rootScope
            $scope.$broadcast向下广播事件
        -->
        <button class="btn btn-danger" ng-click="sendMyEvent()">点击向下广播事件'myEvent'</button>

        <div class="" ng-controller="sonController">
            <button class="btn btn-primary" ng-click="sendSonEvent()">点击向上发送事件'sonEvent'</button>
        </div>
    </div>
</body>

<script>
    var app = angular.module('myApp',[]);

    app.controller('myController', function($scope){
        $scope.sendMyEvent = function(){
            //通过$broadcast向下广播事件
            //注意传递的参数相对应
            $scope.$broadcast('myEvent', {name: 'my'}, [1,2,3,4]);
        }

        //设置监听
        $scope.$on('sonEvent',function(evt, next, current){
            console.log('这里是myController, 收到sonEvent');
        });
    });

    app.controller('sonController', function($scope){
        
        $scope.sendSonEvent = function(){
            //通过$emit向上发送
            $scope.$emit('sonEvent', {
                name: 'hello'
            });
        }

        //设置监听
        $scope.$on('myEvent', function(evt, params, arr){
            console.log('这里是sonController, 收到myEvent事件');
            console.log(params);
            console.log(arr);
        });
    });
</script>
</html>