<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Demo</title>
    <script src="../libs/angularjs/angular.min.js"></script>
    <script src="../libs/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" ng-controller="myController">
        <div class="page-header">
            <h3>双向绑定 - 入门</h3>
        </div>

        <!-- 
        数据绑定
        将`界面元素的值`与`数据模型`绑定
        双向绑定，即界面元素值变化时，数据模型能获取到值；数据模型变化时，界面也通过绑定机制变化

        如下所示：
        通过ng-model将input标签的值 绑定 到`当前作用域`下的name变量
        h3标签中通过{{}}将`当前作用域`下的name变量 绑定 到h3标签的值

        当前作用域
        $scope，name为$scope对象的一个成员变量
        绑定发生时，若$scope中并没有name成员变量，则新建该成员变量。

        -->
        <input type="text" class="form-control" ng-model="name">
        <p>Hello {{name}}</p>


        <!-- 
            展示不同标签使用ng-model 
        -->
        <div class="page-header">
            <h3>双向绑定 - 在不同HTML标签中使用ng-model</h3>
        </div>

        <!-- 
            Checkbox
            默认情况下，input checkbox的值为true/false

            可通过ngTrueValue,ngFalseValue修改默认值
        -->
        <label class="control-label">篮球</label>
        <input type="checkbox" ng-model="basketball">
        <p>篮球: {{basketball}}</p>


        <label class="control-label">Dota</label>
        <input type="checkbox" ng-model="like" ng-true-value="'好玩'" ng-false-value="'不好玩'">
        <p>Dota: {{like}}</p>

        
        <!-- 
            Select
         -->
        <select name="test1" id="test1" ng-model="selected">
            <option value="option-1">Option-1</option>
            <option value="option-2">Option-2</option>
        </select>
        <labe class="control-label">当前选中的数据是：{{selected}}</labe>
    </div>
</body>

<script>
    var app = angular.module('myApp',[]);
    app.controller('myController', function($scope){
        //
    });
</script>
</html>