<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Demo</title>
    <script src="../libs/angularjs/angular.min.js"></script>
    <script src="../libs/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<!-- 
    angularjs api文档：
    By default, ngModel watches the model by reference, not value. 
    This is important to know when binding inputs to models that are objects (e.g. Date) or collections (e.g. arrays). 
    If only properties of the object or collection change, ngModel will not be notified and so the input will not be re-rendered.
    
    The model must be assigned an entirely new object or collection before a re-rendering will occur.

    https://docs.angularjs.org/api/ng/directive/ngModel
    
    ？？？？？
    实际效果有疑问

-->
<body>
    <div class="container" ng-controller="myController">
        <div class="page-header">
            <h3>双向绑定 - 绑定复杂对象</h3>
        </div>
       

        <h3>Hello {{data}}</h3>
        <button class="btn btn-primary" ng-click="modifyData()">点击修改data的成员变量</button>

        <h3>Bye {{myArray}}</h3>
        <button class="btn btn-primary" ng-click="modifyArray()">点击新增myArray元素</button>
    </div>
</body>

<script>
    var app = angular.module('myApp',[]);
    app.controller('myController', function($scope){
        // 在`当前作用域`$scope中定义对象data
        // data对象有两个成员变量
        $scope.data = {
            name: "javascript",
            value: "angularjs"
        };

        //按钮点击事件响应函数，通过ng-click关联
        $scope.modifyData = function(){
            $scope.data.name = "hello world";
        };

        $scope.myArray = [
            1,2
        ];

        $scope.modifyArray = function(){
            $scope.myArray.push(9);
        };
    });
</script>
</html>