<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Demo</title>
    <script src="../libs/angularjs/angular.min.js"></script>
    <script src="../libs/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" ng-controller="myController">
        <div class="page-header">
            <h3>过滤器 - 自定义过滤器</h3>
        </div>

        <!--
            过滤器本质上是函数，
            其中第一个参数是带过滤的数据，
            后面的参数是自定义的参数。
        -->
        <ul>
            <li ng-repeat="friend in friends | random:'hello'"><!--注意字符串参数要加''-->
                 名字：{{friend.name}}，电话：{{friend.phone}}
            </li>
        </ul>
        <hr />
        <ul>
            <li ng-repeat="friend in friends">
                 名字：{{friend.name}}，电话：{{friend.phone | phone:12}}
            </li>
        </ul>
    </div>
</body>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $filter) {
        $scope.friends = [
            { name: 'John', phone: '555-1276' },
            { name: 'Mary', phone: '800-BIG-MARY' },
            { name: 'Mike', phone: '555-4321' },
            { name: 'Adam', phone: '555-5678' },
            { name: 'Julie', phone: '555-8765' },
            { name: 'Juliette', phone: '555-5678' }
        ];
    });

    /*
        定义过滤器函数，带一个参数
        app.filter第二个参数，接收的是“工厂方法”，需要返回一个实际的过滤器函数！！！！！
        input为我们需要过滤的数据，
        注意注意:
        friends为数组，因此input也为整个数组（而不是想象当中的数组成员，请区分于内置过滤器filter！
    */
    app.filter('random', function () {

        return function (input, param) {
            console.log(input.name);
            console.log(param);

            return input;//不过滤！
        }
    });

    // 定义一个过滤器，参数的后半段使用*代替
    app.filter("phone", function(){
        return function(input, param){
            console.log(input);
            console.log(param);

            return input.substr(0,3) + "****";
        }
    });
</script>

</html>